@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="jumbotron"style="margin-top:15px;">
            <h1>Welcome to MEV!</h1>
            <p>Please register attend the class!</p>
            <p>
                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="ClassAttends" asp-action="Index">Attend class</a>
            </p>
        </div>
    </div>